[mysqld]
default-storage-engine = MyISAM
local-infile = 0

max_connections = 50
wait_timeout = 30
connect_timeout = 10

thread_cache_size = 16
table_open_cache = 700

key_buffer_size = 30M

join_buffer_size = 512K
sort_buffer_size=256K

query_cache_type = 1
query_cache_size = 30M
query_cache_limit = 1M

tmp_table_size = 30M
max_heap_table_size = 30M

open_files_limit=5000

innodb_buffer_pool_size = 30M
innodb_file_per_table = 1
innodb_stats_on_metadata=0

slow_query_log=1
slow_query_log_file=mysql-slow.log
long_query_time=0.1
max_allowed_packet=268435456
